<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
         <meta name="viewport" content="width=device-width">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
        <link href="{{ asset('build/app.css') }}" type="text/css" rel="stylesheet" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>        

        {% block javascripts %}{% endblock %}
    </body>
</html>
