<template>
<div>
    <header>  
        <b-navbar toggleable="lg" type="light" variant="light" fixed="top">
            <div class="container">
                <b-navbar-brand href="#">
                    <img :src="require('../../images/logo_yeeply_black.png')" alt="yeeply">
                </b-navbar-brand>

                <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>        

                <b-collapse is-nav id="nav_collapse">

                    <b-navbar-nav class="ml-auto">
                    <b-nav-item href="#">Entrar</b-nav-item>
                    <b-nav-item href="#">Entrar</b-nav-item>
                    <b-nav-item href="#">Entrar</b-nav-item>
                    <b-nav-item href="#">LOREM IPSUM</b-nav-item>
                    </b-navbar-nav>

                </b-collapse>
            </div>
        </b-navbar>
    </header>

<main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading text-uppercase mt-5">Lorem impum</h1>
          <p class="lead my-5">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doremque laudantium, totam rem apeream, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae decta sunt explicabo</p>
          <p>
            <a href="#" class="btn btn-primary btn-lg ">LOREM IPSUM</a>
          </p>
        </div>
      </section>

      <div class="album py-4 bg-light">
        <div class="container">
        <div class="text-secondary pb-3" v-if="articles.length">
            {{ articles.length }} products.
        </div>
          <div v-if="articles.length" class="row">
            <div v-for="(article, index) in articles" :key='index' class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" :src="article.img" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ article.name }}</h5>
                  <p class="card-text">{{ article.description | truncate(60, '....') }}</p>
                  <div class="text-center">
                    <div class="btn-group">
                      <a :href="'/article/' + article.id + '/buy'" class="btn btn-sm btn-success">BUY</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </main>
</div>

</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      articles: [],
      errors: []
    };
  },

  // Fetches articles when the component is created.
  created() {
    axios
      .get(`http://127.0.0.1:8000/articles`)
      .then(response => {
        this.articles = response.data;
      })
      .catch(e => {
        this.errors.push(e);
      });
  }
};
</script>