@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
$font-size-base: 0.875rem;
$font-family-base: 'Montserrat', sans-serif;
$blue : #499DED;
$cyan : #74D5EE;
$border-radius: 0;
$border-radius-sm: 0;
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/dist/bootstrap-vue.css";

body {
    min-width: 300px;
}

.navbar.navbar-light{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-item {
    border-radius: 0.3rem;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    text-align: center;
    transition: all .4 ease;
    text-transform: uppercase;
    border-radius: 0.3rem;
    padding: 0.25rem 1.2rem;
    /*font-size: 0.875rem;*/
    line-height: 1.5;
    font-weight: 600;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
    background-color: $blue;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
    background-color: $blue;
}

.navbar-brand img {
    height: 2rem;
}

nav li:hover,
nav li.router-link-active,
nav li.router-link-exact-active {
    background-color: indianred;
    cursor: pointer;
}

main {
    margin-top: 3.5rem;
}

.jumbotron {
    color: #fff;
    background-color: #000;
    border-radius: 0;
    margin-bottom: 0;
    & h1 {
        font-weight: lighter;
    }
    & p {
        font-weight: 100;
    }
    & .btn-lg {
        padding: 1.6rem 2rem;
        font-size: 0.8rem;
    }
}

.btn-primary {
    background-color: $blue;
    transition: all .5 ease;
}

.btn-primary:hover {
    color: #fff;
    background-color: $cyan;
    border-color: #0099cc;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 1rem;
    }
    .btn-sm, .btn-group-sm > .btn {
        padding: 0.375rem 0.75rem;
        font-size: 0.9rem;
    }
}
